<!DOCTYPE html>
<html lang="en" xmlns:th = "http:// www.thymeleaf.org">
	<head th:replace = "admin/fragments :: html-header">
	   
	</head>
	<body class="bg-gray-50 font-family-karla flex">
	
	    <aside class="relative bg-sidebar h-screen w-64 hidden sm:block shadow-xl" th:replace = "admin/fragments :: aside">
	       
	    </aside>
	
	    <div class="w-full flex flex-col h-screen overflow-y-hidden">
	        <!-- Desktop Header -->
	        <header class="w-full items-center bg-white py-2 px-6 hidden sm:flex" th:replace = "admin/fragments :: desktop-header" >
	           
	        </header>
	        
	        <div class="w-full overflow-x-hidden border-t flex flex-col" >
	            <main class="w-full flex-grow p-6" th:replace = "admin/fragments :: main">
	             	<!--  Main -->   
	            </main>
	    
	            <footer class="w-full bg-white text-right p-4" th:replace = "admin/fragments :: footer">
	               
	            </footer>
	        </div>
	        
	    </div>
	
		<div th:replace = "admin/fragments :: script">
		</div>
	    
	</body>
</html>
